{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "settings": {
        "react": {
            "version": "detect", // 사용자가 설치한 버전을 자동으로 선택
        },
    }
}
